<% if user_signed_in? %>
    <p style="float:right"><%= current_user.email %> 님 환영합니다.</p>
    <%= link_to '로그아웃', destroy_user_session_path, method: :delete, data: {confirm: "정말 로그아웃 하시겠습니까?"}%>
<% else %>
    <%= link_to '로그인', new_user_session_path %>
    <%= link_to '회원가입', new_user_registration_path  %>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Majors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notice</th>
      <th>Book start</th>
      <th>Book end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @majors.each do |major| %>
      <tr>
        <td><%= major.name %></td>
        <td><%= major.notice %></td>
        <td><%= major.book_start %></td>
        <td><%= major.book_end %></td>
        <td><%= link_to 'Show', major_url(major) %></td>
        <td><%= link_to 'Edit', edit_major_path(major) %></td>
        <td><%= link_to 'Destroy', major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Major', new_major_path %>

<% @bookings.each do |b| %>
    <p><%= b.created_at%> // <%= b.user.email %>님께서 <%= b.major.name %>의 사물함 <%= b.locker.loc_name %>을 예약하셨습니다. <%= link_to '삭제', b, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} %></p>
<% end %>
<hr>

<% @users.each do |u| %>
  <p><%= u.email %> // <%= u.major.name %> // <% unless u.booking.nil? %> <%= u.booking.locker.loc_name %> <% else %> 미예약 <% end %></p>
<% end %>